# Python bytecode and interpreter caches
__pycache__/
*.py[cod]
*$py.class

# Test and type-checker caches
.pytest_cache/
.mypy_cache/
.ruff_cache/


# notebooks and figures
*.ipynb_checkpoints
*ipynb
*png
*pdf